<p id="notice"><%= notice %></p>

<h1>Interviews</h1>

<table>
  <thead>
    <tr>
      <th>Age</th>
      <th>Sex</th>
      <th>Career</th>
      <th>Use service</th>
      <th>Existing service uncomfortable</th>
      <th>Subscribe channel number</th>
      <th>Like category</th>
      <th>Good point</th>
      <th>Bad point</th>
      <th>Recommendation</th>
      <th>Cause</th>
      <th>Screenshot</th>
      <th>Favorite site</th>
      <th>Period</th>
      <th>Highlight video</th>
      <th>What highlight video</th>
      <th>How long watch</th>
      <th>When watch</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Gift</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interviews.each do |interview| %>
      <tr>
        <td><%= interview.age %></td>
        <td><%= interview.sex %></td>
        <td><%= interview.career %></td>
        <td><%= interview.use_service %></td>
        <td><%= interview.existing_service_uncomfortable %></td>
        <td><%= interview.subscribe_channel_number %></td>
        <td><%= interview.like_category %></td>
        <td><%= interview.good_point %></td>
        <td><%= interview.bad_point %></td>
        <td><%= interview.recommendation %></td>
        <td><%= interview.cause %></td>
        <td><%= interview.screenshot %></td>
        <td><%= interview.favorite_site %></td>
        <td><%= interview.period %></td>
        <td><%= interview.highlight_video %></td>
        <td><%= interview.what_highlight_video %></td>
        <td><%= interview.how_long_watch %></td>
        <td><%= interview.when_watch %></td>
        <td><%= interview.email %></td>
        <td><%= interview.phone_number %></td>
        <td><%= interview.gift %></td>
        <td><%= link_to 'Show', interview %></td>
        <td><%= link_to 'Edit', edit_interview_path(interview) %></td>
        <td><%= link_to 'Destroy', interview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interview', new_interview_path %>
