<p id="notice"><%= notice %></p>

<p>
  <strong>Age:</strong>
  <%= @interview.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @interview.sex %>
</p>

<p>
  <strong>Career:</strong>
  <%= @interview.career %>
</p>

<p>
  <strong>Use service:</strong>
  <%= @interview.use_service %>
</p>

<p>
  <strong>Existing service uncomfortable:</strong>
  <%= @interview.existing_service_uncomfortable %>
</p>

<p>
  <strong>Subscribe channel number:</strong>
  <%= @interview.subscribe_channel_number %>
</p>

<p>
  <strong>Like category:</strong>
  <%= @interview.like_category %>
</p>

<p>
  <strong>Good point:</strong>
  <%= @interview.good_point %>
</p>

<p>
  <strong>Bad point:</strong>
  <%= @interview.bad_point %>
</p>

<p>
  <strong>Recommendation:</strong>
  <%= @interview.recommendation %>
</p>

<p>
  <strong>Cause:</strong>
  <%= @interview.cause %>
</p>

<p>
  <strong>Screenshot:</strong>
  <%= @interview.screenshot %>
</p>

<p>
  <strong>Favorite site:</strong>
  <%= @interview.favorite_site %>
</p>

<p>
  <strong>Period:</strong>
  <%= @interview.period %>
</p>

<p>
  <strong>Highlight video:</strong>
  <%= @interview.highlight_video %>
</p>

<p>
  <strong>What highlight video:</strong>
  <%= @interview.what_highlight_video %>
</p>

<p>
  <strong>How long watch:</strong>
  <%= @interview.how_long_watch %>
</p>

<p>
  <strong>When watch:</strong>
  <%= @interview.when_watch %>
</p>

<p>
  <strong>Email:</strong>
  <%= @interview.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @interview.phone_number %>
</p>

<p>
  <strong>Gift:</strong>
  <%= @interview.gift %>
</p>

<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Back', interviews_path %>
