<% @city.all.each do |c| %>
  "<%=c.city1%> <%=c.city2%>", 
<% end %>


                <% if w == "Clear" %>
                  <%= image_tag("맑음.png", alt: "맑음") %>
                <% end %>
                <% if w == "clear sky" %>
                  <%= image_tag("맑음.png", alt: "맑음") %>
                <% end %>
                <% if w == "Clouds" %>
                  <%= image_tag("구름 많음.png", alt: "구름 많음") %>
                <% end %>
                <% if w == "few clouds" %>
                  <%= image_tag("구름 조금.png", alt: "구름 조금") %>
                <% end %>
                <% if w == "scattered clouds" %>
                  <%= image_tag("구름 많음.png", alt: "구름 많음") %>
                <% end %>
                <% if w == "broken clouds" or w == "overcast clouds"%>
                  <%= image_tag("흐림.png", alt: "흐림") %>
                <% end %>
                <% if w == "Rain" %>
                  <%= image_tag("http://openweathermap.org/img/w/10d.png", alt: "비") %>
                <% end %>
                <% if w == "light rain" %>
                  <%= image_tag("비.png", alt: "비") %>
                <% end %>
                <% if w == "Snow" %>
                  <%= image_tag("눈1.png", alt: "눈") %>
                <% end %>
                <% if w == "Clear" %>
                   <p>맑음</p>
                <% end %>
                <% if w == "Clouds" %>
                  <p>구름</p>
                <% end %>
                <% if w == "Rain" %>
                  <p>비</p>
                <% end %>
                <% if w == "Snow" %>
                  <p>눈</p>
                <% end %>