
<header>날씨날씨 오늘날씨</header>
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">시간</th>
          <% @weather.w_time.each do |t| %>
              <th scope="col"><%= t %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">온도</th>
          <% @weather.w_temp.each do |t| %>
              <td><%= t %></td>
          <% end %>
        </tr>
        <tr>
          <th scope="row">날씨</th>
          <% @weather.w_weather.each do |w| %>
              <td>
                <% if w == "맑음" %>
                  <%= image_tag("맑음.png", alt: "맑음") %>
                <% end %>
                <% if w == "구름 조금" %>
                  <%= image_tag("구름 조금.png", alt: "구름 조금") %>
                <% end %>
                <% if w == "구름 많음" %>
                  <%= image_tag("구름 많음.png", alt: "구름 많음") %>
                <% end %>
                <% if w == "비" %>
                  <%= image_tag("비.png", alt: "비") %>
                <% end %>
                <% if w == "눈" %>
                  <%= image_tag("눈1.png", alt: "눈") %>
                <% end %>
                <% if w == "흐림" %>
                  <%= image_tag("흐림.png", alt: "흐림") %>
                <% end %>
                <br><%= w %>
              </td>
          <% end %>
        </tr>
      </tbody>
    </table>
 </div>

<div class="alert alert-secondary" role="alert"><%= @mise.mise_info %></div>
<div class="alert alert-info" role="alert"><%= @mise.ozone_info %></div>
<footer> ⓒ날씨날씨 / 자료출처-기상청, 에어코리아</footer>

<style>
  header{
    padding-top: 4px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  footer{ position:fixed; 
  left:0px; 
  bottom:0px; 
  height:15px; 
  width:100%; 
  background: #f2c8a5; 
  color: white; 
  text-align: center;
  font-size: 8px;
  }
</style>